/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

body {
    font-family: "Libre Baskerville", serif;;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background: #f2f1ed;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.card {
    background-color: #faf9f5;
}


#home-banner {
    background-position: center center!important;
}

@media (min-width: 1680px) {
    #home-banner {
        background-position: center -270px!important;
    }
}


:root {
          --bs-dark-rgb: 1, 50, 30;
        }

body p{
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 0.9em;
    line-height: 1.7em;
}

.about-contents {
    background: #faf9f5;
    padding: 5px 60px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
    max-width: 1280px;
}

.about-contents ul {
    font-size: 0.9em;
}

.about-contents ul li {
    margin-bottom: 20px;
}

.about-contents>p,.about-contents>h2,.about-contents>ul{
    max-width: 1280px;
    border: none;
}
.about-contents>h2 {
    padding-top: 30px!important;
}
#browseItems .card {
 border-bottom-left-radius: 16px;
 border-bottom-right-radius: 16px;
}
#browseItems .card>a {
    background: #01321e29;
    display: block;
    height: 133px;
    text-align: center;
}
#browseItems .card a img {
        height: 100%;
    width: auto;
    margin: auto;
    text-align: center;
}
.btn-outline-primary {
    color: #01321e;
    border-color: #01321e;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #01321e;
  border-color: #01321e29;
}

#item-metadata .btn-link {
    font-weight: 400;
    color: #01321e;
    text-decoration: none;
    border: 1px solid #01321e;
}

#item-metadata .btn-link:hover {
   background-color: #01321e29;
}

#item-metadata dd {
    margin-bottom: 30px;
    font-size: 0.9em;
}
#item-metadata dt {
    margin-bottom: 10px;
}

#browse-buttons {
    margin: 30px auto;
}
